{% extends 'mkgif/partials/base.html' %}
{% block content %}
  <div class="animation">
    <h1>Animation: <u>{{ anim.name }}</u></h1>
    {% if anim.worker_is_done == True %}
    {% load static %}
    {% get_media_prefix as MEDIA_PREFIX %}
    <img src="{{ MEDIA_PREFIX }}{{ anim.pk }}/out.gif" alt="animation">
    {% else %}
    <p>Animation is still being created</p>
    {% endif %}
  </div>
  {% include 'mkgif/partials/details-controls.html' %}
{% endblock %}