{% extends 'mkgif/partials/base.html' %}

{% block content %}
            <p>My GIF Animations:</p>
            <table>
                {% for anim in anims %}
                <tr>
                <td>{{ anim.pk }}</td>
                <td><a href="{% url 'mkgif:details' anim.pk %}">{{ anim.name }}</a></td>
                </tr>
                {% endfor %}
            </table>
            <hr>
            <form action="{% url 'mkgif:index' %}" method="POST" enctype="multipart/form-data">
                <fieldset>
                    <legend><label>Add New GIF Animation</label></legend>
                    {% csrf_token %}
                    <input name="name" type="text" placeholder="Animation name">
                    <input name="imgs" type="file" multiple>
                    <button>Submit</button>
                </fieldset>
            </form>
{% endblock %}
