{% if is_my_anim == True %}
  <div class="anim-controls">

    <button 
      class="delete-btn"
      hx-delete="{% url 'mkgif:details' anim.pk %}"
      hx-trigger="click"
      hx-target="body"
    >Delete</button>
  </div>
{% endif %}